/* Reset de CSS para maior consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 150px;
    border-radius: 30%; 
    margin-right: 10px; 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #1e1e1e;
    color: #f4f4f4;
}

header {
    background-color: #131a21;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

#toggle-theme {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #131a21;
    color: #0073e6;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#toggle-theme:hover {
    background-color:  #131a21;
    color: white;
}

body.dark-mode #toggle-theme {
    background-color: #333;
    color: #f4f4f4;
    border-color: #f4f4f4;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4f4f4;
}

main {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin: 40px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #0073e6;
}

section p {
    margin: 20px 0;
    line-height: 1.8;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: #0073e6;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #18212a;
    text-decoration: underline;
}

body.dark-mode a {
    color: #1e90ff;
}

body.dark-mode a:hover {
    color: #87ceeb;
}

footer {
    background-color:  #131a21;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

body.dark-mode footer {
    background-color: #333;
    color: #f4f4f4;
}
